# Ignore specific Python script
print_all.py

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore egg-info directory
*.egg-info/

.env
venv

# Ignore specific directories
requests_log.db
requests_log.db-journal
/home/ubuntu/Nextplace/nextplace/miner/ml/strategies/data_analytics/nextplace_training_data.csv